:root{
    /* .....Primary... */
--Dark-Blue: hsl(233, 26%, 24%);
--Lime-Green: hsl(136, 65%, 51%);
--Bright-Cyan: hsl(192, 70%, 51%);
/* ......neutral......... */
--Grayish-Blue: hsl(233, 8%, 62%);
--Light-Grayish-Blue: hsl(220, 16%, 96%);
--Very-Light-Gray: hsl(0, 0%, 98%);
--White: hsl(0, 0%, 100%);
--small-font:1rem;
}
*{
    margin: 0;
    box-sizing: border-box;
}
.hidden{
    display: none;
}
.flex{
    display: flex;
}
.flex-col{
display: flex;
flex-direction: column;
}
.wrap{
    flex-wrap: wrap;
}
.flex-v-center{
    align-items: center;
}
.flex-h-center{
    justify-content: center;
}
.flex-all-center{
    justify-content: center;
    align-items: center;
}
.nav{
    width: 80%;
    height: 100px;
    margin: 0 auto;
    background-color:var(--White) ;
    justify-content: space-between;
}
.burger{
    display: none;
}
 ul li{
    list-style: none;
    margin: 0 .8rem;
    font-size: var(--small-font);
    padding: .5rem;
    color: var(--Grayish-Blue);
}
.navlist{
    display: block;
    background-color: var(--Dark-Blue);
    width: 80%;
    margin: 0 auto;
    position: fixed;
     top: 10%;
     left:5%
}
.nav ul li:hover{
    cursor: pointer;
    border-bottom: 3px solid var(--Lime-Green);
}
.reqst-btn{
    min-width: 150px;
    height: 2rem;
    max-width: 50%;
    font-size: medium;
    border-radius: 8rem;
    color: var(--White);
    background-color: rgb(14, 185, 102);
}
.container{
    width: 80%;
    margin: 0 auto;
}

/* .........landing page..... */

.land-left{
    width: 40%;
    justify-content: center;
}
.land-right{
    text-align: right;
    width: 60%;
    background-image: url('./images/bg-intro-desktop.svg');
}
.land-right img{
    width: 80%;
    margin-right: -10%;

}
.title{
    font-size: 4rem;
}
.subtitle{
    font-size: 1.5rem;
    max-width: 70%;
}
.mb2rem{
margin-bottom: 2rem;
}
.mktng{
    margin-top: -7%;
    padding: 5%;
    background-color: var(--Light-Grayish-Blue);
}
.one-box{
   max-width: 25%;
   min-width: 300px;


}
.small-t{
    font-size: 1.8rem;
    margin-bottom: .5rem;
}
.small-subt{
    font-size: 1.2rem;
    width: 60%;
}
.article{
    padding: 5%;
    background-color: var(--Very-Light-Gray);

}
.article-box{
    max-width: 300px;
    background-color: var(--White);
}
.article-cont{
    justify-content: space-between;
}
.bgimg{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    margin-bottom: 1rem;
}
.bgimg img{
    width: 100%;
   height: 100% ;
   border-radius: 8px;
}
.mb1rem{
    margin-bottom: 1rem;
}
footer{
    background-color: var(--Dark-Blue);
    justify-content: space-around;
    height: 200px;
    color: aliceblue;
}
.one{
    justify-content: space-evenly;
}
.icon img{
    margin-right: .5rem;
}
table{
    color: var(--White);
    margin-left: 2rem;
}
.right-foot{
    justify-content: space-evenly;
}
footer .log{
    background-color: aliceblue;
}

@media (max-width:1500px) {
    .land-right img{
        width: 100%;
        margin-right: -5%;
    
    }
    .mktng{
        margin-top:1rem;
    }
    .mkting-box{
        justify-content: center;
        align-items: center;
    }
}
@media (max-width:900px){
    .container{
        width: 90%;
    }
    .landing,.mktng{
        flex-direction: column;
    }
    .land-left,.land-right{
        width: 100%;
    }
    .land-right{
        order: 1;
    }
    .land-left{
        order: 5;
        align-items: center;
    }
    .mktng{
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .one-box{
       max-width: 80%;
        margin: 0 auto;
        margin-bottom: 1rem;
    }
    .title,.small-subt{
        width: 100%;
    }
    .article-cont{
        justify-content: center;
    }
    .article-box{

        margin:1rem 2rem;
    }
    .menu ,.reqst-btn{
        display: none;
        overflow: hidden;
    }
    .burger{
        display: block;
        cursor: pointer;
    }

    
   
}




    